.fact {
    color:black;
    background-color: silver;
    overflow:scroll;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    text-align:center;
    min-width:400px;
}

.fact > h2 {
    text-align:center;
}

.fact-paragraph {
    text-align:center;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
}