.fact {
    color:black;
    background-color: silver;
    border:2px solid cornflowerblue;
    overflow:scroll;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    text-align:center;
    min-width:400px;
}

.fact-paragraph {
    text-align:center;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
}

h3 {
    font-size:30px;
}